<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
{% block title %}
<title>Neat Library</title>

<div class="container"> 
  <div class="row">
    <div class="col-md-6">
      <h1>Neat Library</h1>
     </div>
     <div class=" col-md-3 col-md-offset-3">
        <div class="social-icons">
          <button class="btn btn-fb" type="button"><i class="fa fa-facebook pr-1"></i>F</button> 
        </div>
      </div>
    </div>
  </div>
</div>


 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-pills nav-justified">
        <li><a href=" {% url 'index' %} "><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href=" {% url 'books' %} ">Services</a></li>
        <li><a href="  ">Students</a>
            
        </li>
        <li class="dropdown">
          <a href=" {% url 'staff' %} " class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false"> Staffs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>


        <li><a href="  "> <span class="glyphicon glyphicon-earphone"></span> contact</a></li>


      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-offset-3">
        <div class="input-group">
          <input type="text" placeholder="QuickSearch" class="form-control">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          
        </div>
         

      </div>
      
    </div>
  </div>
</div>


{% endblock %}
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  

    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
</head>

</head>

<body>

  <div class="container-fluid">

     <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
     
          
          
         <li><a href=" {% url 'signup' %} ">SignUp</a></li>
           <hr>
           {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
      <li><a href=" {% url 'my-borrow' %} ">My Borrowed Books</a></li>   
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %}
 
 

      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
        
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}

{% endblock %} 

      </div>
    </div>

  </div>
</body>
</html>